In [1]:
import pandas as pd

In [3]:
availability_df = pd.read_csv("availability_dataset.csv")

In [5]:
availability_df

                  timestamp  location_name  n_available  predicted
0       2023-06-01 00:00:00       BikeTown          102        100
1       2023-06-01 00:01:00       BikeTown          102        104
2       2023-06-01 00:02:00       BikeTown          102        101
3       2023-06-01 00:03:00       BikeTown          104        108
4       2023-06-01 00:04:00       BikeTown          102        103
...                     ...            ...          ...        ...
927355  2023-08-31 23:55:00  VelocityVista            2         -2
927356  2023-08-31 23:56:00  VelocityVista            4          3
927357  2023-08-31 23:57:00  VelocityVista            4          6
927358  2023-08-31 23:58:00  VelocityVista            4          0
927359  2023-08-31 23:59:00  VelocityVista            0          2

[927360 rows x 4 columns]